<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameruImagesUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <GameruImagesUploader.Properties.Settings>
            <setting name="ColorTopWideRow" serializeAs="String">
                <value>#FFB21301</value>
            </setting>
            <setting name="ColorTopNarrowRow" serializeAs="String">
                <value>#FF910F00</value>
            </setting>
            <setting name="ColorMiddleRow" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ColorBottomNarrowRow" serializeAs="String">
                <value>#FF910F00</value>
            </setting>
            <setting name="ColorProgressBarBackground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ColorProgressBarForeground" serializeAs="String">
                <value>#FF06B025</value>
            </setting>
            <setting name="ColorListBoxBackground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ColorTextBoxBackground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ColorTextBoxForeground" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="ColorLabelForegroung" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="ColorLabelStatusBar" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ColorButtonBackground" serializeAs="String">
                <value>#FFB21301</value>
            </setting>
            <setting name="ColorButtonBackgroundHighlighted" serializeAs="String">
                <value>#FFD01600</value>
            </setting>
            <setting name="ColorComboBoxItemBackground" serializeAs="String">
                <value>#FF910F00</value>
            </setting>
            <setting name="ColorComboBoxItemBackgroundHighlighted" serializeAs="String">
                <value>#FFD01600</value>
            </setting>
            <setting name="ColorComboBoxForeground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ColorComboBoxBackground" serializeAs="String">
                <value>#FFB21301</value>
            </setting>
            <setting name="ColorComboBoxBackgroundHighlighted" serializeAs="String">
                <value>#FFD01600</value>
            </setting>
            <setting name="AvatarPath" serializeAs="String">
                <value>Resources/ImageDefaultAvatar.png</value>
            </setting>
            <setting name="PasswordHash" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImagesPerLine" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NotificationAreaMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationAreaClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogoVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MakeScreenshots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyLinksAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UploadImagesAutomatically" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContextMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItemSize" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value/>
            </setting>
            <setting name="СolorScheme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>False</value>
            </setting>
        </GameruImagesUploader.Properties.Settings>
    </userSettings>
</configuration>
